@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: #EBEBEB;
    font-family: 'Inter', sans-serif;
   
    
}
body{
    align-items: center;
    /* display: inline-block; */
}
header{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    background-color: #EBEBEB;
}

#titulo{
    color: #2D3191;
    position: absolute;
    position: relative;
    align-self: center;
    
}

#welcome{
    align-self: center;
    color: #8d99ae
}

#btSair{
    width: 60px;
    height: 30px;
    font-size: 15px;
    border: none;
    background-color:#D92527;
    border-radius: 10px;
    color:#EBEBEB;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.349);
    cursor: pointer;
    transition: 0.5s;
    position: absolute;
    right: 10px;
    
}

#btSair a{
    text-decoration: none;
    background-color: #D92527;
    color: #fefae0;
}


#btSair:hover{
    background-color: #2D3191;
    transition: .5s;
}

#btSair a:hover{
    background-color: #2D3191;
    transition: .2s;
}

#logoBomPreco{
    width:250px;
    height: 100px;
    background-color: black;
    position: relative;
    background-color: transparent;
}
#areaProdutos{
    position: absolute; 
    width: 100%;
    height: 200px;
    text-align: center;
    background-color: #EBEBEB;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    align-items: center;
    display: inline-block;
    

}
#logoBomPreco img{
    width: 100%;
    position: relative;
}
.btn{
    /* padding: 15px; */
    position: relative;
    background-color: #2d309162;
    width: 200px;
    height: 20%;
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
    transition: 0.5s;
    border: none;
    word-wrap: break-word;
    color: #fefae0;
    display: inline-block;
    
        
}
.btn:hover{
    background-color: #D92527;
    transition: 0.5s;
    -xpedu-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}

#areaForm{
    text-align: center;
    position: absolute;
    width: 100%;
    top: 65%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    
    
}
#formulario{
    text-align: left;
    background-color: transparent;
    border-radius: 3px;
    width: 700px;
    height: 300px;
    margin: auto;
    border:none;
    border-top: 5px solid #2d309162;
    border-radius: 5px;
    display: inline-block;
}
#formulario h2{
    font-family: 'Inter', sans-serif;
    color: #2D3191;
    font-size: 16px;

}
#formulario label{
    font-family: arial;
    font-size: 13px;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: transparent;
    padding: 1px;
    position: left;
}
#btnform {
    color: #EBEBEB;
    /* right: 50%; */
    margin: 5px;
    width: 75px;
    height: 30px;
    position: absolute;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #2D3191;
    cursor: pointer;
}
#btnform:hover {
    background-color: #D92527;
}

.inputProduto{
    background-color: #fefae0;
    text-decoration: none;
    margin: 15px;
    padding: 5px;
    width: 95%;
    margin: 15px;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: none;
    border: none;
    box-shadow: 0 0 0 0;
    outline: 0;
    
}
footer{

    width: 100%;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: right;
    height: 60px;
}
footer img{
    margin: 20px;
    position: relative;
    width: 45px;
    
    
}