@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

*{
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #EBEBEB;
    text-decoration: none;
}

#tela-login{
   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px;
    border-radius: 15px;
    color: #2C3192;
    text-align: center;
}

section, form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#notification{
    background-color: #a9a29c;
    color: #fefae0;
    border-radius: 15px;
    font-size: .85rem;
    padding: 2px;
    margin-bottom: 10px;
}

.input-form{
    padding: 17px;
    border: none;
    outline: none;
    font-size: 12px;
    text-align: left;
   
}

button{
    background-color: #DD2520;
    border: none;
    padding: 15px;
    width: 50%;
    border-radius: 10px;
    color: #fefae0;
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s;
    align-self: center;
}
button:hover{
    background-color: #fd5353;
    transition: 0.5s;
}
